<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title> Professors </title>

    <style> 
        li {
            display: inline;
            margin-right: 20px;
        } 
    </style>
</head>
<body>
        <div class="container">
            <h3><center><strong><%= professor.Name %></strong></center></h3>
            </br>
            <center>
                <ul class="professor-data">
                    <li><%= professor.DepartmentName %><li>
                    <li><a href="/institution/<%=professor.UniversityID%>"><%= professor.University %></a></li>
                    <li><%= professor.TeacherRanks.join(", ") %></li>
                    <li> <a href="<%= professor.TeacherHomePageURL%>">Homepage</a></li>
                </ul>
            </center>

            <!-- <hr> -->
        </br>
            <h3> Courses Taught </h3>
            <ul class="list-group list-group-flush">
                <% professor.courses.forEach(function(course) { %>
                    <li class="list-group-item">
                        <a href="/course/<%= course.id %>"><%= course.name %></a> (<%= course.date %>)
                    </li>
                <% }); %> 
            </ul>
        </div>
</body>
</html>